name: Flask and Selenium Test

on:
  push:
    branches:
      - main  # Modify to match your default branch

jobs:
  app:
    runs-on: ubuntu-latest

    steps:
      - name: Checkout code
        uses: actions/checkout@v2

      - name: Set up Python
        uses: actions/setup-python@v2
        with:
          python-version: 3.x

      - name: Install dependencies
        run: |
          pip install -r requirements.txt
        working-directory: .

      - name: Start Flask app
        run: |
          python app.py &
        working-directory: .
      
      - name: Wait for app to start
        run: sleep 5

  tests:
    needs: app
    runs-on: ubuntu-latest

    steps:
      - name: Checkout code
        uses: actions/checkout@v2

      - name: Set up Python
        uses: actions/setup-python@v2
        with:
          python-version: 3.x

      - name: Install Selenium
        run: |
          pip install selenium
        working-directory: .

      - name: Run Selenium Test
        run: |
          python selenium_test.py
        working-directory: .
