name: Flask and Selenium Test

on:
  push:
    branches:
      - main  # Modify to match your default branch

jobs:
  app:
    runs-on: ubuntu-latest
    container:
      image: ubuntu:latest

    steps:
      - name: Checkout code
        uses: actions/checkout@v3

      - name: Set up Python
        uses: actions/setup-python@v4
        with:
          python-version: 3.x

      - name: Install dependencies
        run: |
          apt update && apt install -y curl unzip
          python -m pip install -r requirements.txt
        working-directory: .

      - name: Start Flask app
        run: |
          python app.py &
        working-directory: .
      
      - name: Wait for app to start
        run: |
          sleep 3
          curl -s localhost:5000 || exit 1 
          
      - name: Download and Extract Chrome
        run: |
          curl -LO https://edgedl.me.gvt1.com/edgedl/chrome/chrome-for-testing/118.0.5993.70/linux64/chrome-linux64.zip
          unzip chrome-linux64.zip -d chrome-linux64
        working-directory: .
      
      - name: Download and Extract ChromeDriver
        run: |
          curl -LO https://edgedl.me.gvt1.com/edgedl/chrome/chrome-for-testing/118.0.5993.70/linux64/chromedriver-linux64.zip
          unzip chromedriver-linux64.zip -d chromedriver-linux64
          ./chromedriver-linux64/chromedriver-linux64/chromedriver
        working-directory: .
            
      - name: Set Environment Variables
        run: |
          export SELENIUM_CHROME_BINARY="$PWD/chrome-linux64/chrome-linux64/chrome"
          export SELENIUM_CHROME_DRIVER="$PWD/chromedriver-linux64/chromedriver-linux64/chromedriver"
        working-directory: .

      - name: Install Selenium
        run: |
          python -m pip install selenium
        working-directory: .

      - name: Run Selenium Test
        run: |
          python test.py
        working-directory: .
